@tailwind components;
@tailwind base;
@tailwind utilities;

.bg-overlap {
  background: linear-gradient(
    to bottom,
    theme('colors.gray.800') 22em,
    theme('colors.gray.100') 22em
  );
}

.breadcrumb-item + .breadcrumb-item:before {
  // content: '/';
  color: white;
  display: inline;
  margin: 0.25rem;
}
